<h1> <%= @show.name %>: Details </h1>
<img src=<%= @show.picture%> >
<ul>
  <li> Duration of each episode: <%= @show.episode_duration%> </li>
  <li> Genre: <%= @show.genre %> </li>
  <li> Year of start: <%= @show.started_year %> </li>
</ul>